<h1>Contacto</h1>
<ul>
    <a href="https://www.facebook.com/john.f.gonzalezg" target="_blank"><img alt="Seguir John Fredy González en Facebook" height="32" src="http://2.bp.blogspot.com/-q_Tm1PpPfHo/UiXnJo5l-VI/AAAAAAAABzU/MKdrVYZjF0c/s1600/face.png" title="Seguir John Fredy González en Facebook" width="32" /></a>
    
    <a href="https://twitter.com/JohnFGonzalezG" target="_blank"><img alt="sSeguir a John Fredy González en Twitter" height="32" src="http://3.bp.blogspot.com/-wlwaJJG-eOY/UiXnHS2jLsI/AAAAAAAAByQ/I2tLyZDLNL4/s1600/Twitter+NEW.png" title="Seguir a John Fredy González en Twitter" width="32" /></a>
</ul>
